body    {
    margin:0;
    padding: 0;
    background-color: whitesmoke;
    font-family:'lato',sans-serif;
}
h1 {
    float:left;
}
.nav-links{
    list-style-type:none;
    background-color:lightslategray;
    float:right;
    display:inline-block;
}
.header-img {
    clear: both;
    height:890px;
    width:385px;

}
.nav-links > li {
    display: inline-block;
}

.main   {
    width: 50%;

}
.sub-section {
    width: 50%;
}



/*small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {/* ... */}

/*Medium devices (desktops, 992px and up */
@media screen and (min-width:992px) {/* ... */}

/* Large devices (Large desktops, 1200px and up) */
@media screen and (min-width:1200px) {/* ... */}

