/*small devices (tablets, 300px and up) */
@media screen and (min-width:400px) {
    /*reset styles*/
    body{
        margin:0;
        height:100%;
        width:100%;
        box-sizing:border-box;
        font-family:sans-serif;
    }
    body{
        padding:5px;
    }
    /*blocks*/
    .alert-info{
        background-color:#add8e6;
        border:2px solid #d3d3d3;
        color: #000;
        text-decoration:none;
        padding: 1em;
        text-align:center;
    }
    .alert-info > a{
        color:#000;
        text-decoration:none;
    }
    h1 {
        text-align:center;
    }

    /**/
    .nav-links li{
        list-style-type:none;
        background-color:lightgrey;
        padding:1em;
        margin-bottom:.5em;
        text-align:center;
    }
    .nav-links{
        padding-left:0;
    }

    .header-img img{
        clear: both;
        width:100%;
        display:block;
    }
    .sub-section{
        font-style:italic;

    }

}


/*Medium devices (desktops, 992px and up */
@media screen and (min-width:992px) {
    .hidden-on-mobile {
        display: none;}

body    {
    margin:0;
    padding: 0;
    background-color: whitesmoke;
    font-family:'lato',sans-serif;
}
/*h1 {*/
    /*float:left;*/
/*}*/
.nav-links{
    list-style-type:none;
    background-color:whitesmoke;
    float:right;
    display:inline-block;
    padding-right: 20px;
    word-spacing: 10px;
}
.header-img img {
    clear: both;
    width:985px;
    display:block;
}
.nav-links > li {
    display: inline-block;
    float:right;
}

.main   {
    width: 40%;
    float: left;
}

.sub-section {
    width: 40%;
    float: left;
}
footer  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0;
    padding: 1px;
}

}










