body    {
    margin:0;
    padding: 0px;
    background-color: whitesmoke;
    font-family:'lato',sans-serif;
}
h1 {
    float:left;
}
.nav-links{
    list-style-type:none;
    background-color:white;
    float:right;
    display:inline-block;
    padding-right: 20px;
}
.header-img {
    clear: both;
    height:890px;
    width:385px;

}
.nav-links > li {
    display: inline-block;
}

.main{
    height:50%;
    width:50%;

}

.sub-section{
    width:50%;
    height:50%;
}



/*small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {}

/*Medium devices (desktops, 992px and up */
@media screen and (min-width:992px) {
    .hidden-on-mobile {
    display: none;}}






